{% extends 'blog/base.html' %}
{% block content %}
{% if object.author == user %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
              <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" href="#">{{ object.author }}</a>
                  <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
                </div>
                <h2 class="article-title">{{ object.title }}</h2>
                <p class="article-content">{{ object.content }}</p>
                  <a class="btn btn-primary" href = {{object.attatched_file_link}}>Attatched File</a>
                  <p class="article-content">{{ object.status }}</p>
              </div>
        </article>
{% endif %}
{% endblock content %}
