{% extends 'blog/base.html' %}
{% block content %}
{% if object.receiver == user %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ object.parent.author.profile.image.url }}">
              <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" href="#">{{ object.parent.author }}</a>
                  <small class="text-muted">{{ object.parent.date_posted|date:"F d, Y" }}</small>
                </div>
                <h2 class="article-title">{{ object.parent.title }}</h2>
                <p class="article-content">{{ object.parent.content }}</p>
                <p class="article-content">{{ object.status }}</p>
                  <a class="btn btn-primary" href = {{object.parent.attatched_file_link}}>Attatched File</a>
              </div>
                {% if object.done == False %}
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'accept' object.pk %}">Accept</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'reject' object.pk %}">Reject</a>
                </div>
                {% endif %}
        </article>
{% endif %}
{% endblock content %}
